@use "sass:math";

$text-decordations: underline, overline, line-through, none;

@for $i from 0 through 4999 {
  .article#{$i} {
    margin-top: #{$i / 20}rem;
    margin-bottom: #{$i / 20}rem;
    padding-top: #{$i / 20}rem;
    padding-bottom: #{$i / 20}rem;
    line-height: #{$i / 20}rem;
    text-decoration: nth($text-decordations, $i % length($text-decordations) + 1);
    z-index: $i;

    @if $i % 3 == 0 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @if $i % 3 == 1 {
      text-overflow: ellipsis;
    }

    @if $i % 3 == 2 {
      text-overflow: clip;
    }

    > header {
      display: flex;
      gap: #{$i / 20}rem;
    }
  }
}
